/bin
/target
/work

node
node_modules

*.idea
*.settings
*.project
*.classpath
*.iml
.vscode/

nbactions-*.xml
nb-configuration.xml
nbactions.xml

# frontend build output
src/main/webapp/js
