.icon-user-or-group-img {
    margin-right:0.2em
}

td.azure-ad-controls {
    text-align: left;
}

.mgmt-people-picker-wrapper {
    border: 1px solid var(--input-border);
    border-radius: 3px
}

.no-graph-integration-wrapper {
    margin-top: 1rem;
}

.azure-ad-validation-error {
    margin-top: 0.5rem;
}